{% extends "base.html" %}

{% block head_title_block %}
About - {{ block.super }}
{% endblock %}

{% block main_content %}
   <div class="row">
        <div class="col-lg-12">
            <h1>About the Project</h1>
            <p>The Dataverse is an open source web application to share, preserve, cite, explore and analyze research data. 
            It facilitates making data available to others, and allows you to replicate others work. 
            Researchers, data authors, publishers, data distributors, and affiliated institutions all receive appropriate credit.</p>
<p>A Dataverse repository hosts multiple dataverses. Each dataverse contains datatset or other dataverses, and each dataset contains 
descriptive metadata and data files (including documentation and code that accompany the data). </p>
            <h2>History of the Project</h2>
            <p>The Dataverse Network Project is housed at the Institute for Quantitative Social Science (IQSS) at Harvard University. 
            Coding of the Dataverse Network software began in 2006 under the leadership of Merce Crosas and Gary King. 
            We benefited considerably from our experience with our earlier Virtual Data Center (VDC) project, which spanned 1999-2006 
            and was organized by Micah Altman, Gary King, and Sidney Verba as a collaboration between the Harvard-MIT Data Center 
            (now part of IQSS) and the Harvard University Library. Precursors to the VDC date to 1987, comprising such entities as 
            a stand-alone software guide to local data, preweb software, and tools to transfer cataloging information by FTP to other 
            sites across campus automatically at designated times.</p>
            <h2>About the Name</h2>
            <p>Special thanks to Ella Michelle King, who won the contest to name our project, and to Pitney Bowe and The Forbin Group, Inc. for trademark assistance.</p>
            
        </div>
    </div>
{% endblock %}
