<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/team-and-community/">Team &amp; Community</a></li>
                <li><a href="/history-and-name/">History &amp; Name</a></li>
                
                <li><a href="http://datascience.iq.harvard.edu/publications/filter/dataverse" target="_blank">Publications</a></li>
                <li><a href="http://datascience.iq.harvard.edu/presentations/filter/dataverse"  target="_blank">Presentations</a></li>
                <li><a href="http://datascience.iq.harvard.edu/blog/filter/dataverse"  target="_blank">Blogs</a></li>
              </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/community/advisory-team/">Advisory Team</a></li>
                <li class="dropdown-submenu">
                    <a href="/community/groups/">Community Groups</a>
                    <ul class="dropdown-menu">
                        <li><a href="/community/groups/api/">API</a></li>
                        <li><a href="/community/groups/auth/">Authentication and Authorization</a></li>
                        <li><a href="/community/groups/internationalization/">Internationalization</a></li>
                        <li><a href="/community/groups/metadata/">Metadata</a></li>
                        <li><a href="/community/groups/storage/">Storage</a></li>
                    </ul>
                </li>
                <li><a href="/community/meeting/">2015 Dataverse Community Meeting</a></li>
              </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Software <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Installers</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="http://roadmap.datascience.iq.harvard.edu/" target="_blank">Roadmap</a></li>
              </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Best Practices <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu">
                    <a href="http://docs.dataverse.org/en/latest/Best_Practices/Data_Citation/index.html"  target="_blank">Data Citation</a>
                    <ul class="dropdown-menu">
                        <li><a href="/best-practices/data-citation/unf">Universal Numerical Fingerprint (UNF)</a></li>
                    </ul>
                </li>
                <li><a href="http://docs.dataverse.org/en/latest/Best_Practices/Data_Management/index.html"  target="_blank">Data Management</a></li>
                <li><a href="http://docs.dataverse.org/en/latest/Best_Practices/Replication.html"  target="_blank">Replication</a></li>
                <li><a href="http://projects.iq.harvard.edu/odap/home"  target="_blank">Open Data Assistance Program</a></li>
              </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{#% url 'view_support_page' %#}">Community &amp; Support</a></li>
                
                <!--<li><a href="http://docs.dataverse.org">Guides</a></li>-->

                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guides</a>
                    <ul class="dropdown-menu">
                        <li><a href="http://docs.dataverse.org/en/3.6.2/"  target="_blank">3.6</a></li>
                        <li><a href="http://docs.dataverse.org/en/4.0/"  target="_blank">4.0</a></li>
                    </ul>
                </li>

                <li><a href="#">Getting Started</a></li>
                <li><a href="#">Maintenance</a></li>
              </ul>
        </li>
    </ul>
</div>
