{% extends "base.html" %}

{% block head_title_block %}
Contact - {{ block.super }}
{% endblock %}

{% block main_content %}
   <div class="row">
        <div class="col-lg-12">
            <h1>Contact</h1>
            <p><table style="width: 650px; height: 400px;">
<tbody>
  <tr>
<td style="padding-left: 5px; padding-right: 20px; padding-bottom:
   5px; font-size: 20px;"><img
   src="http://static.projects.iq.harvard.edu/files/styles/os_files_small/public/datascience/files/github-mark-120px-plus.png?itok=JN1yCYd0"
   height="58" width="70"
   /></td>
<td>
<p><strong>Report issues and contribute to our code:</strong> Report bugs and add feature requests in&nbsp;<a href="https://github.com/IQSS/dataverse/issues" data-url="https://github.com/IQSS/dataverse/issues">GitHub Issues</a>&nbsp;or use&nbsp;<a href="https:/github.com/IQSS/dataverse/pulls" data-url="https:/github.com/IQSS/dataverse/pulls">github pull requests</a>, if you have some code, scripts or documentation that you'd like to share.&nbsp;</p>
</td>
</tr>
<tr>
<td style="padding-left: 5px; padding-right: 20px; padding-bottom:
   5px; font-size: 20px;"><img
   src="http://static.projects.iq.harvard.edu/files/styles/os_files_small/public/datascience/files/my-groups-color.png?itok=bE2w2P9J"
   /></td>
<td>
<p><strong>Ask a question or start a discussion: </strong> Great place to publicly share feedback, ideas, feature requests, and troubleshoot any issues is in the <a href="https://groups.google.com/forum/#!forum/dataverse-community" data-url="https://groups.google.com/forum/#!forum/dataverse-community">Dataverse Google Group</a>.&nbsp;<a style="line-height: 20px;" href="https://groups.google.com/forum/#!forum/dataverse-community"></a></p>
</td>
</tr>
<tr>
<td style="padding-left: 5px; padding-right: 30px; padding-bottom:
   5px; font-size: 20px;"><img
   src="http://static.projects.iq.harvard.edu/files/styles/os_files_small/public/datascience/files/simplemail.png?itok=u77tClII" height="70" width="83"
   /></td>
<td>
<p><strong><a href="mailto:support@dataverse.org">Contact us</a>&nbsp;with any account or software installation questions.</strong> Please note our response time is generally 24 business hours.</p>
</td>
</tr>
</tbody>
</table>
</p>
        </div>
    </div>
{% endblock %}
