<ul class="nav navbar-nav">
    <li><a href="/about">About</a></li>
    <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               <li><a href="http://community.dataverse.org/advisory-team.html">Advisory Team</a></li>
               <li><a href="http://community.dataverse.org/community-groups/">Community Groups</a></li>
               <li><a href="http://community.dataverse.org/community-meetings/2015/index.html">2015 Dataverse Community Meeting</a></li>
             </ul>
       </li>
    <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Best Practices <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
                  <li><a href="http://best-practices.dataverse.org/data-citation/">Data Citation</a></li>
                  <li><a href="http://best-practices.dataverse.org/data-management/index.html">Data Management</a></li>
                  <li><a href="http://best-practices.dataverse.org/replication.html">Replication Guidelines</a></li>
            </ul>
     </li>
     <li>
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Software <span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
               <li><a href="http://roadmap.datascience.iq.harvard.edu/" target="_blank">Roadmap</a></li>
               <li><a href="https://github.com/IQSS/dataverse" target="_blank">Source Code</a></li>
           </ul>
     </li>     
     <li>
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
               <li><a href="/contact/">Contact</a></li>
               <li><a href="http://guides.dataverse.org/en/latest/getting-started/index.html">Getting Started</a></li>
               <li class="dropdown-submenu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guides</a>
                     <ul class="dropdown-menu">
                         <li><a href="http://guides.dataverse.org/en/latest/user/index.html">User Guide</a></li>
                         <li><a href="http://guides.dataverse.org/en/latest/developers/index.html">Developers Guide</a></li>
                         <li><a href="http://guides.dataverse.org/en/latest/installation/index.html">Installation Guide</a></li>
                         <li><a href="http://guides.dataverse.org/en/latest/api/index.html">API Guide</a></li>
                     </ul>
                </li>
                <li><a href="http://projects.iq.harvard.edu/odap">Open Data Assistance Program</a></li>    
           </ul>
     </li>
 </ul>
 <!-- /.navbar-collapse -->
 