<!-- start: blog -->    
<div class="col-md-4">
   <div class="panel panel-default" style="border-color:#ccc;">
    <div class="panel-heading" style="background:white;padding:11.5px;border-color:#ccc;">
      <h4 class="panel-title text-left" style="font-weight:bold;font-size:18px;">News &amp; Updates</h4>
    </div>
    <div class="panel-body" style="background:#f5f5f5;min-height:302px;">
    
 <script type="text/javascript" src="http://datascience.iq.harvard.edu/profiles/openscholar/modules/os/modules/os_boxes/misc/os_boxes.resize_parent.js"></script>
    <iframe class="web-widgets-iframe" src="http://datascience.iq.harvard.edu/widget/embed/1397570139/iframe" scrolling="no" id="blog_iframe" frameborder="0" width="100%"></iframe>
  </div>
 </div>
</div>
{% comment %}  
    <!-- start: blog -->    
   <div class="col-md-4">
       <div class="panel panel-default" style="border-color:#ccc;">
        <div class="panel-heading" style="background:white;padding:11.5px;border-color:#ccc;">
          <h4 class="panel-title text-left" style="font-weight:bold;font-size:18px;">Blogs</h4>
        </div>
        <div class="panel-body" style="background:#f5f5f5;min-height:302px;">
          <!-- <p class="h4 text-left" style="margin-top:0;font-weight:bold;">Blogs</p> -->
          <a href="http://datascience.iq.harvard.edu/blog/dataverse-40-widgets-downloading-data-citations" class="h4">Widgets &amp; Downloading Data Citations</a>
          <br />
          <small><em>September 18, 2014</em></small>
          <p class="text-left">
            In previous versions of Dataverse, users were able to embed their dataverse within their own website. With Dataverse 4.0, we have changed this functionality to work more like what you are used to seeing with Twitter, Facebook, and other social media websites. 
          </p>
          <p class="text-left">
            You can still embed your dataverses and datasets on your website.
          </p>
          <div>
            <a href="http://datascience.iq.harvard.edu/blog/dataverse-40-widgets-downloading-data-citations" class="btn btn-primary btn-xs">Read More</a>
          </div>
        </div>
       </div>
   </div>
   <!-- end: blog -->
   {% endcomment %}  
