{% extends "base.html" %}
{% block head_title_block %}
{{ block.super }}
{% endblock %}
{% load humanize %}

{% block extra_js %}
<!-- highcharts libs -->
<script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
<script>
    {% include "home/chart_script.js" %}

    {% comment %}
    Note: homepage_script.js does the following:
    
    (1) Loads the "By the numbers chart"
    (2) Styles the blog post listing (an iframe from HWP)
    
    {% endcomment %}
    {% include "home/homepage_script.js" %}
   
</script>
{% endblock %}

{% block main_content %}

<div class="text-center">
  <img class="img-responsive" style="margin: 0 auto; width:40%;" src="{{ STATIC_URL }}images/dataverse_project_logo.png" alt="The Dataverse Project" />
  <p class="lead" style="margin:25px 0;font-size:3em;">Dedicated to sharing, archiving and citing research data.</p>
</div>

<!-- Jumbotron Header -->
<!--<header class="jumbotron hero-spacer">
  <h2><a href="http://community.dataverse.org/" style="color:#c55b28;">Be Part of the Dataverse Community</a></h2 >
      <script type="text/javascript" src="http://datascience.iq.harvard.edu/profiles/openscholar/modules/os/modules/os_boxes/misc/os_boxes.resize_parent.js"></script>

  <div class="row" style="margin:0;">
    
    <div class="col-md-7" style="padding-left:0;">
      <p>Contribute to Dataverse by depositing your research data into one of the Dataverse Repositories listed below or by setting up a new repository for your organization. Take part in contributing code, writing up documentation and training materials. Need help with archiving and managing data? Data curation services are also available for researchers.</p>
    </div>

    <div class="col-md-5">
      <img class="img-responsive" src="{{ STATIC_URL }}images/dataverse_project_logo.png" alt="The Dataverse Project" />
    </div>
  </div>   
</header>-->

<div class="row" style="margin-top:40px;">
  <div class="col-sm-4 text-center" style="margin-bottom:40px;">
    <a href="http://guides.dataverse.org/en/latest/user/account.html" style="text-decoration:none;"><span class="glyphicon glyphicon-plus" style="color:#76a690;font-size:8em;"></span>
    <span class="h2 center-block" style="color:#76a690;">Add Data</span></a>
  </div>
  <div class="col-sm-4 text-center" style="margin-bottom:40px;">
    <a style="text-decoration:none;" data-placement="bottom" data-toggle="popover" data-trigger="click" data-container="body" type="button" data-html="true" href="javascript:void(0);" id="finddata"><span class="glyphicon glyphicon-search" style="color:#a34e25;font-size:8em;"></span>
    <span class="h2 center-block" style="color:#a34e25;">Find Data</span></a>

    <div id="finddata-popover-content" class="hide">
      <form class="form-inline" role="form">
        <div class="form-group">
          <p>Search data across <strong style="color:#a34e25;">Dataverse Repositories</strong> through Harvard Dataverse.</p>
          <div class="form-group">
            <input type="search" class="form-control" id="searchInputPopover" placeholder="Search Data...">
          </div>
          <button type="submit" class="btn btn-primary" id="popoverSearchButton"><span class="glyphicon glyphicon-search"></span> Find</button>
        </div>
      </form>
    </div>

  </div>
  <div class="col-sm-4 text-center" style="margin-bottom:40px;">
    <a href="http://best-practices.dataverse.org/data-citation/" style="text-decoration:none;"><span class="glyphicon glyphicon-list" style="color:#eb7d24;font-size:8em;"></span>
    <span class="h2 center-block" style="color:#eb7d24;">Get Recognition</span></a>
  </div>
</div>

   <hr/>

   <!-- Page Features -->
   <div id="dataverse-repositories-row" class="row text-center">
        <div class="col-md-4">
             <div id="dataverse-repositories-title" class="thumbnail" style="margin-bottom:1em;padding:12px;width:361px;height:146px;background:#eee;">
                 <h3 style="margin-top:0;color:#c55b28;">Dataverse Repositories</h3>
                 <p class="help-block">Be a part of the community by publishing your data to one of the Dataverse repositories or by setting up a new repository for your organization.<br/><small>(Click cards for more information)</small></p>
             </div>
        </div>
        {% for dverse in federated_dataverses %}
            {% include "home/dataverse_block.html" %}
        {% endfor %}

        <div id="cardClone">
            <div id="cloneFront" class="thumbnail cards">cardclone front</div>
            <div id="cloneBack" style="text-align:center;padding:24px 12px;">
              {% for dverse in federated_dataverses %}
                <p id="card-{{ dverse.slug }}" class="hidden">
                  <a href="{{ dverse.homepage }}"><img src="{{ dverse.logo_image.url }}" alt="{{ dverse.slug }}" style="max-width:300px;max-height:180px;margin-top:4px;" /></a>
                  <span class="h3 center-block"><a href="{{ dverse.homepage }}">{{ dverse.name }}</a></span>
                  {{ dverse.description|safe }}<br/>
                </p>
              {% endfor %}
            </div>
        </div>

   </div>
   <!-- /.row -->

   <hr style="margin-top:0;"/>

<!-- row: Tweets, Blogs, By the Numbers -->
<div class="row text-center"> 

      {% include "home/tweet_block.html" %}
     
      {% include "home/blog_block.html" %}
       
      <!-- start: by the numbers -->
      <div class="col-md-4">
          <div class="panel panel-default" style="border-color:#ccc;">
            <div class="panel-heading" style="background:white;padding:11.5px;border-color:#ccc;">
              <h3 class="panel-title text-left" style="font-weight:bold;font-size:18px;">Metrics</h3>
            </div>
            <div class="panel-body" style="padding:0;height:302px;">
              <!-- <p class="h4 text-left" style="margin-top:0;font-weight:bold;"></p> -->
              <div id="container" style="xmin-width: 310px; height: 300px; margin: 0 auto"></div>
            </div>
          </div>
      </div>
      <!-- end: by the numbers -->
      
   </div><!-- end: row -->
   <!-- END row: Tweets, Blogs, By the Numbers -->

   <hr/>

{% endblock %}
