<div class="col-md-4">
       <!-- <h3>Tweets</h3> -->
       <a class="twitter-timeline" href="https://twitter.com/dataverse_orgorg" 
       data-widget-id="517764754153013248" 
       data-border-color="#ccc" 
       data-chrome="nofooter" 
       data-show-replies="false"
       height="348">Tweets by @dataverse_orgorg</a>
       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
       
</div>